<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>OVA Control Board</title>
    <%= stylesheet_link_tag "style" %>
  </head>
  <body>
    <%= flash[:notice] %>
    
    <center>
    <div id="toppage">
        <div class="menu">
            <%=t :welcome %><%= @welcome_info %>
        </div>
        <br/>
        <table class="main">

            <!--  TODO: Configure check User privileges to manage Admin Accounts -->
            <tr>
                <td nowrap>
                    <a target="_top" href="../accounts/list-accounts.php">
                      <img src="../images/ico-manage_user.png" width="64" height="64" class="png_main" border="0" alt="manage_account">
                    </a>
                </td>
                <td>
                    <!-- <a target="_top" href="../accounts/list-accounts.php"> </a>-->
                      <%= link_to "Accounts", :controller => "account" %>
                      <%=t :control_board_user_management %>
                </td>
            </tr>

          <% if session[:username] != "admin@ova.local" %>

          <tr><td>TTT</td></tr>
          <tr><td>TTT</td></tr>

            <!--  TODO: Configure check User privileges to manage Mail -->
            <tr>
                <td>
                    <a target="_top" href="../mail/overview.php">
                    	<img src="../images/ico-email.png" width="64" height="64" class="png_main" border="0" alt="mail_overview">
										</a>
                </td>
                <td>
                    <a target="_top" href="../mail/overview.php">
                      <%=t :control_board_mail %>
                    </a>
                </td>
            </tr>



            <!--  TODO: Configure check User privileges to manage Domain -->
            <tr>
                <td nowrap>
                    <a target="_top" href="../users/list-domain.php">
                      <img src="../images/ico-system.png" width="64" height="64" class="png_main" border="0" alt="domain_list">
                    </a>
                </td>
                <td>
                    <a target="_top" href="../users/list-domain.php?username=nicolas.goralski@fox-informatique.com">
                      <%=t :control_board_manage_domain %>
                    </a>
                </td>
            </tr>



            <tr>
                <td nowrap>
                    <a target="_top" href="../users/userinfo.php">
                      <img src="../images/ico-infos.png" width="64" height="64" class="png_main" border="0" alt="user_info">
                    </a>
                </td>
                <td>
                    <a target="_top" href="../users/userinfo.php">
                      <%=t :control_board_user_info %>
                    </a>
                </td>
            </tr>





            <!--  TODO: Configure check User privileges to manage Server -->
            <tr>
                <td nowrap>
                    <a target="_top" href="../server/manage.php">
                      <img src="../images/servers.png" width="64" height="64" class="png_main" border="0" alt="manage_server">
                    </a>
                </td>
                <td>
                    <a target="_top" href="../server/manage.php">
                      <%=t :control_board_server_management %>Gestion des Serveurs
                    </a>
                </td>
            </tr>



            <!--  TODO: Configure check User privileges to Change is Mail Password -->
            <tr>
                <td nowrap>
                    <a target="_top" href="../mailbox-password.php">
                      <img src="../images/ico-keys.png" width="64" height="64" class="png_main" border="0" alt="mailbox_password">
                    </a>
                </td>
                <td>
                    <a target="_top" href="../mailbox-password.php">
                      <%=t :control_board_mailbox_password_change%>Modifier votre mot de passe
                    </a>
                </td>
            </tr>



            <!--  TODO: Configure check User privileges to Manage WebVirtual -->
            <tr>
                <td nowrap>
                    <a target="_top" href="../hosting/list-webvirtual.php?username=nicolas.goralski@fox-informatique.com">
                      <img src="../images/ico-browser.png" width="64" height="64" class="png_main" border="0" alt="manage_webvirtual">
                    </a>
                </td>
                <td>
                    <a target="_top" href="../hosting/list-webvirtual.php?username=nicolas.goralski@fox-informatique.com">
                      <%=t :control_board_webhosting_management %>G&eacute;rez vos sites web et comptes FTP
                    </a>
                </td>
            </tr>



            <!--  TODO: Configure check User privileges to Manage SQL Database-->
            <tr>
                <td nowrap>
                    <a target="_top" href="../databases/list-databases.php?username=nicolas.goralski@fox-informatique.com">
                      <img src="../images/mysql_logo.png" width="64" height="64" class="png_main" border="0" alt="manage_sql_databases">
                    </a>
                </td>
                <td>
                    <a target="_top" href="../databases/list-databases.php?username=nicolas.goralski@fox-informatique.com">
                      <%=t :control_board_sqldatabase_management %>Gestion de vos bases de donn&eacute;es
                    </a>
                </td>
            </tr>



            <!--  TODO: Configure check User privileges to Manage Responder -->
            <tr>
                <td nowrap>
                    <a target="_top" href="vacation.php">
                      <img src="../images/ico-responder.png" width="64" height="64" class="png_main" border="0" alt="manage_vacation">
                    </a>
                    <br/>
                    <%=t :control_board_mailbox_vacation_status %>Status du R&eacute;pondeur : Inactif
                </td>
                <td>
                    <%=t :control_board_mailbox_vacation_config %>Configurer votre r&eacute;ponse automatique(auto-reply).
                </td>
            </tr>



            <!--  TODO: Configure check User privileges to Manage Mail Forward -->
            <tr>
                <td nowrap>
                    <a target="_top" href="edit-alias.php">
                      <img src="../images/ico-system.png" width="64" height="64" class="png_main" border="0" alt="manage_forward">
                    </a>
                </td>
                <td>
                    <a target="_top" href="edit-alias.php">Modifier votre transfert</a>
                </td>
            </tr>



            <!--  TODO: Configure check User privileges to Manage Mail Filter -->
            <tr>
                <td nowrap>
                    <a target="_top" href="list-filter.php">
                      <img src="../images/ico-filter.png" width="64" height="64" class="png_main" border="0" alt="manage_mail_filter">
                    </a>
                </td>
                <td>
                    <a target="_top" href="list-filter.php">
                      Editer vos filtres de mails
                    </a>
                </td>
            </tr>

          <% end %>

            <!--  TODO: Configure check User privileges to Manage Mail Filter -->
            <tr>
                <td nowrap>
                    <a target="_top" href="../logout.php">
                      <img src="../images/ico-exit.png" width="64" height="64" class="png_main" border="0" alt="logout">
                    </a>
                </td>
                <td>
                    <%= link_to @logout, :action => 'logout' %>
                </td>
            </tr>



        </table>
    </div>

    </center>
  </body>
</html>
