
<table>
  
  <tr>
    <td>Item</td>
    <td>Value</td>
    <td>Possible Values</td>
    <td>Comment</td>
  </tr>
  
<% @configs.each do |config| %>
  <tr>
    <td><%= config.item %></td>
    <td>
      <% if config.default_values =~ (/[a-z0-9]\|\|[a-z0-9]/i) %>

      <%= choice_content(
        :content => {
          :element => 'p',
          :text => config.sel_value,
          :options => {
            :id => "ovaconfig_confup_#{config.id}",
            :class => 'choice-content'
          }
         },
        :url => {
          :controller => 'home',
          :action => 'confup',
          :id => config.id
         },
        :data => "#{config.default_values}"
      ) %>


      

      <% else %>
        <%= editable_content(
        :content => {
          :element => 'p',
          :text => config.sel_value,
          :options => {
            :id => "ovaconfig_confup_#{config.id}",
            :class => 'editable-content'
          }
         },
        :url => {
          :controller => 'home',
          :action => 'confup',
          :id => config.id
         },
        :ajax => {
          :okText => "'Save configuration'",
          :cancelText => "'Cancel'"
         }
      ) %>
    <% end %>
</td>
    <td><%= config.default_values %></td>
    <td><%= config.comment %></td>
  </tr>
<% end %>

</table>